* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* TYPOGRAPHY */
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  /* WEIGHTS 
  --reg: 400;
  --med: 600;
  --big: 700;
  */
  --btn: bold;
  --heading: 500;
  --content: normal;

  /*COLOR*/
  --drk-orange: #ff0000;
  --lite-gry: #443737;
  --drk-gry: #272121;
  --lite-orange: #ff4d00;
  --white: rgba(255, 255, 255);
}
form,
input,
button {
  all: unset;
  cursor: pointer;
}
nav {
  padding: 0.5rem 0.2rem;
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
  background-color: var(--drk-orange);
  color: var(--white);
}
.logo {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: var(--btn);
}

/* SEARCH */

.search {
  margin-left: 5rem;
  display: flex;
}

.search-input {
  top: 1rem;
  width: 20rem;
  height: 2rem;
  right: 2rem;
  font-size: 1.3rem;
  border: 5px solid var(--drk-gry);
  background-color: var(--drk-gry);
  position: relative;
  border-radius: 15px;
}

.search-input::placeholder {
  color: var(--white);
}

.search-icons {
  position: absolute;
  margin-left: 15rem;
  top: 1.6rem;
  font-size: 2rem;
}
/*MENU */
menu {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 2rem;
  column-gap: 0.1rem;
}
.bm-icon {
  padding-top: 10px;
  font-size: 2rem;
}

.nav-btn {
  font-size: 1.3rem;
  padding: 0.3rem 0.4rem;
  background-color: var(--drk-gry);
  border: 5px solid var(--drk-gry);
  color: var(--white);
  font-weight: bold;
  border-radius: 0.5rem;
}

.hero-content {
  background-image: url("./asset/pexels-huzaifabukhari-16845755-min.jpg");
  background-size: cover;
  position: relative;
  padding: 30rem 10rem;
  color: var(--white);
  padding-left: 5rem;
  padding-top: 8rem;
}

.hero-content::before {
  content: "";
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  top: 8rem;
  bottom: 15rem;
  position: absolute;
  opacity: (0.9);
  background-image: blur(10px);
  z-index: 1;
}

.wel-btn {
  font-size: 1.3rem;
  color: var(--drk-orange);
  font-weight: var(--btn);
  z-index: 2;
}

.hero-text {
  position: relative;
  font-size: 2rem;
  display: grid;
  grid-auto-rows: 4rem;
  z-index: 2;
}
